<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/index.css">
		<!-- <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css"> -->
		<script src="/lib/jquery/jquery.min.js"></script>
		<script src="/js/highlight.js"></script>
		<style>
			.on {
				background: red;
				color: aqua;
			}
		</style>
	</head>

	<body>

		<div class="index">

			<%- include('./common/header.ejs', { nickname: nickname, isAdmin: isAdmin }) %>

			<div class="container">

				<%- include('./common/menu.ejs', { isAdmin: isAdmin }) %>
				<div class="main">
					<p class="welyan">匿名留言板</p>
					<a href="/publish.html" class="publish">发表留言</a>
					<ul class="message">
						<% for(var i in comments){ %>
						<li class="list-group-item message-item"><span class="send-Name"><%= comments[i].name %></span>说：<span class="mesage"><%= comments[i].message %></span> <span class="pull-right"><%= comments[i].dateTime %></span></li>
						<% } %>
					</ul>
				</div>
			</div>
		</div>

	</body>

</html>